mwparserfromhell==0.6.4
multiprocess==0.70.13
datasets~=2.20.0
pydantic~=2.8.2
llama-index-vector-stores-faiss
llama-index-embeddings-huggingface
llama-index
faiss-cpu
transformers[torch]
accelerate
rich
